#title{
    text-align: center;
    font-size: 75px;
    background-color: rgb(228, 189, 59);
    color: white;
    font-family: sans-serif;
}

.dropbtn{
    background-color: rgb(228, 189, 59);
    color: white;
    padding: 25px;
    border: 2px dashed black;
    font-size: 48px;
    font-family: sans-serif;
}

.dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.ingredients{
  position: relative;
  display: inline-block;
  box-shadow:  5px 7px 20px rgba(0,0,0,0.2);
  padding-right: 5px;
  background-color: rgb(128, 128, 128, 0.2);  
}

.ingredient-steps{
  float: left;
  padding-right: 50px;
}

.instructions{
  position: relative;
  display: inline-block;
  box-shadow: 5px 7px 20px rgba(0,0,0,0.2);
  background-color:  rgb(128, 128, 128, 0.2);
  padding-right: 5px;
}

li{
  margin: 10px 0px;
}

